# Banco (Supabase - PostgreSQL)
DATABASE_URL="postgresql://postgres.PROJETO:[SENHA]@aws-1-sa-east-1.pooler.supabase.com:6543/postgres"

# NextAuth
NEXTAUTH_URL="https://seu-projeto.vercel.app"
NEXTAUTH_SECRET="gere-com-openssl-rand-base64-32"

# Google OAuth
GOOGLE_CLIENT_ID="seu-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="seu-google-client-secret"

# Mercado Pago
MERCADOPAGO_PUBLIC_KEY="APP_USR-f123f2c8-a08c-423f-a7b3-447ebb02e864"
MERCADOPAGO_ACCESS_TOKEN="APP_USR-7933412573159753-032814-4f0585a5235cf1ddc6db260a1b34c440-442158337"
NEXT_PUBLIC_MP_PUBLIC_KEY="APP_USR-f123f2c8-a08c-423f-a7b3-447ebb02e864"
NEXT_PUBLIC_APP_URL="https://seu-projeto.vercel.app"
